<h1>Welcome Admin! - Product Management</h1>
<div class="header">
    <button mat-stroked-button color="warn" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" (click)="openModal()">Add Product</button>
    <button mat-raised-button (click)="toggleView()">Switch to {{ isTableView ? 'Card' : 'Table' }} View</button>
</div>

<app-product-list [isTableView]="isTableView" [displayedColumns]="displayedColumns"></app-product-list>

<app-product-form *ngIf="showModal"></app-product-form>